/* KIM'S FRAMEWORK 6.5.17 */
/* GRID SYSTEM */
@import url("https://fonts.googleapis.com/css?family=Oswald:200,400,600");
.twd_row {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- */
  display: -ms-flexbox;
  /* IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.twd_col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  /* to fix FF 36 responsive images bug: http://stackoverflow.com/questions/28710379/firefox-flexbox-image-width */
}
.twd_col img {
  height: auto;
  max-width: 100%;
  align-self: center;
  display: block;
}
@-moz-document url-prefix() {
  .twd_col img {
    /* the following is to fix FF 36 responsive images bug: http://stackoverflow.com/questions/28710379/firefox-flexbox-image-width */
    max-width: 100%;
  }
}
.twd_flex2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.twd_flex3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.twd_flex4 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.twd_flexItems {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- */
  display: -ms-flexbox;
  /* IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.twd_blockItems {
  display: block;
  width: 100%;
  height: 100%;
}

/* change directions */
.twd_row.twd_direction_column {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}

.twd_row.twd_direction_row {
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
}

/* ALIGNMENTS */
.twd_text_left {
  text-align: left;
}

.twd_text_right {
  text-align: right;
}

.twd_text_center {
  text-align: center;
}

.twd_text_justify {
  text-align: justify;
}

.twd_horizontallyCentered {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.twd_verticallyCentered {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.twd_top {
  align-items: flex-start;
  align-self: flex-start;
}

.twd_bottom {
  align-items: flex-end;
  align-self: flex-end;
}

.twd_centered {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.twd_left {
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.twd_right {
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.twd_fullScreen {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* floats */
.twd_float_left {
  float: left;
}

.twd_float_right {
  float: right;
}

.twd_clearfloat {
  width: 100%;
  clear: both;
}

.clearfix {
  min-height: contain-floats;
}

/* RESPONSIVE 16x9 VIDEOS */
.twd_video16x9 {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.twd_video16x9 > div {
  width: 100%;
  height: 100%;
}

.twd_videoContainer {
  position: relative;
  height: 0;
  padding: 56.25% 0 0 0;
}

.twd_videoContainer img {
  width: auto/9;
  /* IE 8 & below */
}

/* TABLET & MEDIUM SCREENS */
@media screen and (max-width: 1230px) {
  /* change row direction to column on tablet and mobile */
  .twd_row.twd_changeColumnDirection, .twd_changeTabletDirection {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }

  .twd_centeredOnTablet {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
}
/* MOBILE & SMALL SCREENS */
@media all and (max-width: 600px) {
  /* change row direction to column */
  .twd_row {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }

  .twd_centeredOnMobile {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
  }

  .twd_float_noneOnMobile {
    float: none;
  }
}
/* paddings and margins */
.twd_padding0 {
  padding: 0;
}

.twd_padding1 {
  padding: 0 1% 0 1%;
}

.twd_padding2 {
  padding: 0 2% 0 2%;
}

.twd_padding3 {
  padding: 0 3% 0 3%;
}

.twd_padding4 {
  padding: 0 4% 0 4%;
}

.twd_padding5 {
  padding: 0 5% 0 5%;
}

.twd_padding6 {
  padding: 0 6% 0 6%;
}

.twd_padding7 {
  padding: 0 7% 0 7%;
}

.twd_padding8 {
  padding: 0 8% 0 8%;
}

.twd_padding8 {
  padding: 0 9% 0 9%;
}

.twd_padding10 {
  padding: 0 10% 0 10%;
}

.twd_margin0 {
  margin: 0 !important;
}

.twd_margin5 {
  margin-bottom: 5px !important;
}

.twd_margin10 {
  margin-bottom: 10px !important;
}

.twd_margin15 {
  margin-bottom: 15px !important;
}

.twd_margin20 {
  margin-bottom: 20px !important;
}

.twd_margin25 {
  margin-bottom: 25px !important;
}

.twd_margin30 {
  margin-bottom: 30px !important;
}

.twd_margin35 {
  margin-bottom: 35px !important;
}

.twd_margin40 {
  margin-bottom: 40px !important;
}

.twd_margin45 {
  margin-bottom: 45px !important;
}

.twd_margin50 {
  margin-bottom: 50px !important;
}

.twd_margin60 {
  margin-bottom: 60px !important;
}

.twd_margin70 {
  margin-bottom: 70px !important;
}

.twd_margin80 {
  margin-bottom: 80px !important;
}

.twd_margin90 {
  margin-bottom: 90px !important;
}

.twd_margin100 {
  margin-bottom: 100px !important;
}

/* HIDE & SHOW */
.twd_show, .twd_showOnDesktop {
  display: block;
}

.twd_hide {
  display: none;
}

@media all and (min-width: 1231px) {
  .twd_hideOnDesktop {
    display: none;
  }
}
@media all and (max-width: 1230px) and (min-width: 600px) {
  .twd_hideOnTablet {
    display: none;
  }
}
@media all and (max-width: 600px) {
  .twd_hideOnMobile {
    display: none;
  }
}
.twd_row_custom {
  flex-flow: row wrap;
  display: flex;
  flex-wrap: wrap;
}

.twd_4to1, .twd_3to2to1, .twd_3to1, .twd_2to1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  /* to fix FF 36 responsive images bug: http://stackoverflow.com/questions/28710379/firefox-flexbox-image-width */
}
.twd_4to1 img, .twd_3to2to1 img, .twd_3to1 img, .twd_2to1 img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
@-moz-document url-prefix() {
  .twd_4to1 img, .twd_3to2to1 img, .twd_3to1 img, .twd_2to1 img {
    /* the following is to fix FF 36 responsive images bug: http://stackoverflow.com/questions/28710379/firefox-flexbox-image-width */
    max-width: 100%;
    width: 100%;
  }
}
.twd_3to2to1, .twd_3to1 {
  flex-basis: 33%;
  align-items: flex-end;
}

.twd_4to1 {
  flex-basis: 25%;
  align-items: flex-end;
}

@media all and (max-width: 1230px) {
  .twd_2to1.box img, .twd_3to1.box img, .twd_4to1.box img {
    width: 45%;
    float: left;
    margin-right: 20px;
  }

  .twd_3to2to1 {
    flex-basis: 49%;
  }

  .twd_2to1, .twd_3to1, .twd_4to1 {
    flex-basis: 100%;
  }

  .twd_2to1 img, twd_3to1 img, .twd_4to1 img {
    float: left;
    margin-right: 30px;
  }

  .twd_2to1 h2, twd_3to1 h2, .twd_4to1 h2 {
    margin: 0;
  }
}
@media all and (max-width: 600px) {
  .twd_2to1.box img, .twd_3to1.box img, .twd_4to1.box img {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .twd_3to2to1 {
    flex-basis: 100%;
  }
}
.gray {
  color: #808285;
}

.white {
  color: white;
}

p {
  margin: 0 0 20px 0;
}

.large {
  font-size: 34px;
  line-height: 44px;
}

.medium {
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
}

.small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
}

h1, h2 {
  font-weight: 600;
  color: #7d479b;
  margin: 0;
}
h1 .large, h2 .large {
  font-size: 90px;
  line-height: 90px;
}

h1 {
  line-height: 40px;
  font-size: 40px;
}

h2 {
  line-height: 48px;
  /* updated by TF as per PDF comments and John W. */
  font-size: 35px;
}

@media all and (max-width: 600px) {
  header .large {
    font-size: 30px;
    line-height: 30px;
  }

  h1 .large, h2 .large {
    font-size: 70px;
    line-height: 70px;
  }

  h2 {
    font-size: 27px;
    line-height: 33px;
    font-weight: 400;
  }
}
nav {
  height: 74px;
  padding-top: 12px;
  width: 100%;
  max-width: 1230px;
  margin: 30px auto;
  margin-bottom: 85px;
  border-top: solid 1px #7d479b;
  border-bottom: solid 1px #7d479b;
  position: relative;
}

.logo {
  position: absolute;
  top: -45px;
}

@media all and (max-width: 600px) {
  .logo {
    left: 5px;
  }
}
#menu {
  cursor: pointer;
}

.menu {
  width: 100%;
  background-color: #7d479b;
  min-height: 500px;
  position: fixed;
  top: -1000px;
  right: 0;
  left: 0;
  -webkit-transition: .6s all ease-in;
  -moz-transition: .6s all ease-in;
  -o-transition: .6s all ease-in;
  transition: .6s all ease-in;
}
.menu ul {
  margin: 130px 0;
}
.menu li {
  list-style-type: none;
  height: 95px;
  line-height: 95px;
  color: white;
  border-top: 1px solid white;
  background: url(../images/icon-arrow.png) no-repeat;
  background-position: right 55px center;
}
.menu li:last-of-type {
  border-bottom: 1px solid white;
}
.menu a {
  display: block;
}
.menu .menuContents {
  margin: auto;
  width: 95%;
  max-width: 1230px;
  position: relative;
  padding-top: 115px;
}
.menu .menuContents .logo {
  top: 20px;
  left: 0;
}
.menu .menuContents #close {
  position: absolute;
  right: 0;
  top: 65px;
  cursor: pointer;
}

.open {
  top: 0;
}

@media all and (max-width: 1230px) {
  #menu {
    margin-right: 5px;
  }

  .menu {
    font-size: 27px;
  }
  .menu ul {
    margin: 90px 5px;
    padding: 0;
  }
  .menu li {
    background-position: right 0 center !important;
    height: 65px;
    line-height: 65px;
  }

  .menu .menuContents .logo {
    left: -35px;
  }
}
.signup {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: #f5a21d;
  color: white;
  border-radius: 25px;
  padding: 10px 60px;
  cursor: pointer;
  -webkit-transition: .2s all linear;
  -moz-transition: .2s all linear;
  -o-transition: .2s all linear;
  transition: .2s all linear;
}

.signup:hover {
  color: white;
  background-color: #7d479b;
}

html, body {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  color: #7d479b;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 200;
}

a, a:visited, a:active {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

#byTheNumbers, #fracturesMatter, #learnMore {
  outline: none;
}

header, .container {
  width: 100%;
  max-width: 1230px;
  margin: auto;
}

@media all and (max-width: 1230px) {
  header, .mobilePadding, .container {
    width: calc(100% - 20px);
    margin: auto;
  }
}
.hero-text {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.hero-photo {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

@media all and (max-width: 1230px) {
  .hero-text {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .hero-photo {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media all and (max-width: 1000px) {
  .hero {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
  }

  .hero-text {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .hero-photo {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.important-news {
  background: url(../images/background-orange.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  padding: 80px 0;
}

.map {
  position: relative;
  top: -50px;
  width: 100%;
  text-align: center;
}
.map img {
  z-index: 10;
  position: relative;
}

@media all and (max-width: 1230px) {
  .map {
    width: calc(100% - 10px);
    margin: auto;
  }
}
.grid {
  top: -50px;
  position: relative;
  margin-bottom: 40px;
}

.grid-item {
  min-height: 500px;
  text-align: center;
  background-color: #e5daeb;
  padding: 65px;
  font-weight: 400;
  line-height: 43px;
}
.grid-item img {
  margin: auto;
  margin-bottom: 20px;
}
.grid-item p {
  margin: 0 0 10px 0;
}
.grid-item .large {
  font-size: 55px;
  font-weight: 600;
  line-height: 55px;
}

.grid > .twd_row:nth-of-type(1) > .grid-item:nth-of-type(2), .grid > .twd_row:nth-of-type(2) > .grid-item:nth-of-type(1) {
  background-color: #fdecd2;
}

@media all and (max-width: 1230px) {
  .grid-item {
    font-size: 27px;
    line-height: 27px;
    min-height: auto;
  }
  .grid-item .large {
    font-size: 45px;
    line-height: 45px;
  }

  .grid > .twd_row:nth-of-type(2) > .grid-item:nth-of-type(1) {
    background-color: #e5daeb;
  }

  .grid > .twd_row:nth-of-type(2) > .grid-item:nth-of-type(2) {
    background-color: #fdecd2;
  }
}
.checkContainer {
  margin: 50px auto;
  text-align: left;
  clear: both;
  display: table;
}

.check {
  width: 91px;
  margin-right: 40px;
  display: table-cell;
  vertical-align: top;
}

.checkContainer p {
  display: table-cell;
  vertical-align: top;
}

@media all and (max-width: 600px) {
  .check {
    width: 65px;
  }
  .check img {
    width: 45px;
  }
}
#learnMore {
  background: url(../images/background-purple.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  padding: 65px 0;
  text-align: center;
  font-weight: 400;
}

@media all and (max-width: 600px) {
  #learnMore {
    font-size: 27px;
    line-height: 33px;
    font-weight: 400;
  }
}
.button {
  background-color: #f5a21d;
  color: white;
  border-radius: 25px;
  padding: 10px 60px;
  cursor: pointer;
  -webkit-transition: .2s all linear;
  -moz-transition: .2s all linear;
  -o-transition: .2s all linear;
  transition: .2s all linear;
}

.button:hover {
  color: #f5a21d;
  background-color: white;
}

.disclaimer {
  color: #808285;
  font-size: 28px;
  text-align: left;
  font-weight: 200;
}
.disclaimer p {
  margin: 0 0 10px 0;
}
.disclaimer ul {
  margin: 0 0 60px 0;
}
.disclaimer li {
  margin-bottom: 10px;
}

footer {
  background-color: #7d479b;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 100px;
  padding: 30px 10px;
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  margin: 0;
}
