nav {
	height: 74px;
	padding-top: 12px;
	width: 100%;
	max-width: $breakpoint-tablet;
	margin: 30px auto;
	margin-bottom: 85px;
	border-top: solid 1px $purple;
	border-bottom: solid 1px $purple;
	position: relative;
}

.logo {
	position: absolute;
	top: -45px;
}
@media all and (max-width:$breakpoint-mobile) {
.logo {
	left: 5px;
}
}

#menu {
	cursor: pointer;
}

.menu {
	width: 100%;
	background-color: $purple;
	min-height: 500px;
	position: fixed;
	top: -1000px;
	right: 0;
	left: 0;
	ul {
		margin: 130px 0;
	}
	li {
		list-style-type: none;
		height: 95px;
		line-height: 95px;
		color: white;
		border-top: 1px solid white;
		background: url(../images/icon-arrow.png) no-repeat;
		background-position: right 55px center;
		
	}
	li:last-of-type {
		border-bottom: 1px solid white;
	}
	a {
		display: block;
	}
	.menuContents {
		margin: auto;
		width: 95%;
		max-width: $breakpoint-tablet;
		position: relative;
		padding-top: 115px;
		.logo {
			top: 20px;
			left: 0;
		}
		#close {
			position: absolute;
			right: 0;
			top: 65px;
			cursor: pointer;
		}
	}
	-webkit-transition: .6s all ease-in;
	-moz-transition: .6s all ease-in;
	-o-transition: .6s all ease-in;
	transition: .6s all ease-in;
}
.open {
	top: 0;
}

@media all and (max-width:$breakpoint-tablet) {
#menu {
	margin-right: 5px;
}
.menu {
	font-size: 27px;
	ul {
		margin: 90px 5px;
		padding: 0;
	}
	li {
		background-position: right 0 center!important;
		height: 65px;
		line-height: 65px;
	}
}
.menu .menuContents .logo {
    left: -35px;
}
}

//signup button
.signup {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	background-color: $orange;
	color: white;    
	border-radius: 25px;
    padding: 10px 60px;
	cursor: pointer;
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;
}
.signup:hover {
	color: white;
	background-color: $purple;
}