@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,600');

$font-family: 'Oswald', sans-serif;
$secondary-font: 'Pacifico', cursive;
$font-size: 34px;
$letter-spacing: 0;
$line-height: 40px;

p {
	margin: 0 0 20px 0;
}
.large {
	font-size: 34px;
	line-height: 44px;
}
.medium {
	font-size: 27px;
	font-weight: 400;
	line-height: 40px;
}

.small {
	font-size: 14px;
	line-height: 20px;
	font-weight: 200;
}

h1, h2 {
	font-weight: 600;
	color: $purple;
	margin: 0;
	.large {
		font-size: 90px;
		line-height: 90px;
	}
}
h1 {
	line-height: 40px;
	font-size: 40px;
}
h2 {
	line-height: 48px;  /* updated by TF as per PDF comments and John W. */
	font-size: 35px;
}
@media all and (max-width:$breakpoint-mobile) {
	header {
		
.large {
	font-size: 30px;
	line-height: 30px;
}
	}
h1, h2 {
	.large {
		font-size: 70px;
		line-height: 70px;
	}
}
h2 {    
	font-size: 27px;
    line-height: 33px;
	font-weight: 400;
}
}