@import 'framework';

// Design
$width: 100%;
$margin: 25px;
$hover-opacity: .95;
$breakpoint-mobile: 600px;
$breakpoint-tablet: 1230px;

// Colors
$background-color: #fff;
$font-color: #7d479b;
$link-color: white;
$purple: #7d479b;
$light-purple: #e5daeb;
$cream: #fdecd2;
$orange: #f5a21d;
$gray: #808285;

.gray {
	color: $gray;
}

.white {
	color: white;
}

@import 'typography';
@import 'navigation';

html, body {
	-webkit-tap-highlight-color: transparent;
}
body {
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  font-weight: 200;
}

a, a:visited, a:active {
  text-decoration: none;
  color: $link-color;
}

img {
  max-width: 100%;
  height: auto;
}

//get rid of blue highlight
#byTheNumbers, #fracturesMatter, #learnMore {
	outline: none;
}

//hero
header, .container {
	width: 100%;
	max-width: $breakpoint-tablet;
	margin: auto;
}

@media all and (max-width:$breakpoint-tablet) {
header, .mobilePadding, .container {
	width: calc(100% - 20px);
	margin: auto;
}
}

.hero-text {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.hero-photo {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

@media all and (max-width:$breakpoint-tablet) {
	.hero-text {
		  -webkit-box-flex: 1;
		  -moz-box-flex: 1;
		  -webkit-flex: 1;
		  -ms-flex: 1;
		  flex: 1;
	}
	.hero-photo {
		  -webkit-box-flex: 1;
		  -moz-box-flex: 1;
		  -webkit-flex: 1;
		  -ms-flex: 1;
		  flex: 1;
	}
}

@media all and (max-width:1000px) {
	.hero {
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
	}
	.hero-text {
		  -webkit-box-flex: 1;
		  -moz-box-flex: 1;
		  -webkit-flex: 1;
		  -ms-flex: 1;
		  flex: 1;
	}
	.hero-photo {
		  -webkit-box-flex: 1;
		  -moz-box-flex: 1;
		  -webkit-flex: 1;
		  -ms-flex: 1;
		  flex: 1;
	}
}

//important news
.important-news {
	background: url(../images/background-orange.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	padding: 80px 0;
}

//map section
.map {
	position: relative;
	top: -50px;
	width: 100%;
	text-align: center;
	img {
		z-index: 10;
    	position: relative;
	}
}
@media all and (max-width:$breakpoint-tablet) {
.map {
	width: calc(100% - 10px);
	margin: auto;
}
}

//grid section
.grid {
	top: -50px;
	position: relative;
	margin-bottom: 40px;
}
.grid-item {
	min-height: 500px;
	text-align: center;
	background-color: $light-purple;
	padding: 65px;
	font-weight: 400;
	line-height: 43px;
	img {
		margin: auto;
		margin-bottom: 20px;
	}
	p {
		margin: 0 0 10px 0;
	}
	.large {
		font-size: 55px;
		font-weight: 600;
		line-height: 55px;
	}
}
.grid > .twd_row:nth-of-type(1) > .grid-item:nth-of-type(2), .grid > .twd_row:nth-of-type(2) > .grid-item:nth-of-type(1){
	background-color: $cream;
}
@media all and (max-width:$breakpoint-tablet) {
.grid-item {
	font-size: 27px;
	line-height: 27px;
	min-height: auto;
	.large {
		font-size: 45px;
		line-height: 45px;
	}
}
.grid > .twd_row:nth-of-type(2) > .grid-item:nth-of-type(1){
	background-color: $light-purple;
}
.grid > .twd_row:nth-of-type(2) > .grid-item:nth-of-type(2){
	background-color: $cream;
}
}

//fractures and why they matter
.checkContainer {
	margin: 50px auto;
	text-align: left;
	clear: both;
	display: table;
}
.check {
	width: 91px;
	margin-right: 40px;
	display: table-cell;
	vertical-align: top;
}
.checkContainer p {
	display: table-cell;
	vertical-align: top;
}
@media all and (max-width:$breakpoint-mobile) {
	.check {
		width: 65px;
		img { width: 45px; }
	}
}

//learn more section
#learnMore {
	background: url(../images/background-purple.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	padding: 65px 0;
	text-align: center;
	font-weight: 400;
}
@media all and (max-width:$breakpoint-mobile) {
#learnMore {
	font-size: 27px;
    line-height: 33px;
	font-weight: 400;
}
}

.button {
	background-color: $orange;
	color: white;    
	border-radius: 25px;
    padding: 10px 60px;
	cursor: pointer;
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;
}
.button:hover {
	color: $orange;
	background-color: white;
}

//disclaimer
.disclaimer {
	color: $gray;
	font-size: 28px;
	text-align: left;
	font-weight: 200;
	p {
		margin: 0 0 10px 0;
	}
	ul {
		margin: 0 0 60px 0;
	}
	li {
		margin-bottom: 10px;
	}
}

//footer
footer {
	background-color: $purple;
	color: white;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	margin-top: 100px;
	padding: 30px 10px;
	a:hover {
		text-decoration: underline;
	}
	p {
		margin: 0;
	}
}